{% extends 'base.html' %}
{% load main_tags %}

{% block title %}Статьи{% endblock %}

{% block center %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="titleh4"><span>Статьи</span></h4>
            {% for article in articles %}
                <h3 style="margin-bottom: 0"><a href="{% url 'blog:article' article.pk %}">{{ article.title }}</a></h3>
                <small class="pull-right"><a href="{% url 'accounts:profile' article.author.pk %}">{{ article.author }}</a>&emsp;<i class="fa fa-calendar"></i> {{ article.date_add }}</small>
                <div class="clearfix"></div>
                {{ article.content|striptags|truncatewords:60|linebreaksbr }}
                <hr>
            {% endfor %}
            {% paginations articles %}
        </div>
    </div>
{% endblock %}
