{% extends 'base.html' %}
{% load bootstrap %}

{% block head %}
    <link rel="stylesheet" href="/static/redactor/css/redactor.css" />
    <script src="/static/redactor/redactor.js"></script>

    <script type="text/javascript" src="/static/redactor/jquery.redactor.init.js"></script>
    <script type="text/javascript" src="/static/redactor/redactor.js"></script>
    <script type="text/javascript" src="/static/redactor/langs/ru.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/table.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/filemanager.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/fontcolor.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/fontfamily.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/fontsize.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/fullscreen.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/imagemanager.js"></script>
    <script type="text/javascript" src="/static/redactor/plugins/video.js"></script>
{% endblock %}

{% block title %}Изменение профиля{% endblock %}

{% block center %}
    <div class="col-md-8 col-md-offset-2">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <h3>{{ user.get_full_name }}</h3>
            <img src="{% if user.photo %}/media/{{ user.photo }}{% else %}/static/img/no_photo.jpg{% endif %}" class="img-rounded" style="max-width:150px;max-height: 150px">
            <fieldset>
                {{ form|bootstrap }}
            </fieldset>
            <button class="btn btn-success btn-block" type="submit">Сохранить изменения</button>
        </form>
    </div>
{% endblock %}
