{% extends 'base.html' %}

{% block title %}Персональные страницы учителей{% endblock %}

{% block center %}
    <h3 class="text-center">Администрация школы</h3>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/1.jpg">
            <a href="/accounts/2/">Хачатрян Светлана Александровна</a>
            <p>Директор школы</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/2.jpg">
            <a href="/accounts/24/">Золотаревская Елена Александровна</a>
            <p>Заместитель директора по УВР</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/100.jpg">
            <a href="/accounts/35/">Мельник Инна Иосифовна</a>
            <p>Заместитель директора по УВР</p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/101.jpg">
            <a href="/accounts/7/">Жолондковкая Татьяна Петровна</a>
            <p>Заместитель директора по УВР</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей математики, информатики, физики и астрономии</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/102.jpg">
            <a href="">Серажим Нелли Анатольевна</a>
            <p>Учитель математики</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/6.jpg">
            <a href="/accounts/16/">Акимова Елена Ибраимовна</a>
            <p>Учитель математики</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/8.jpg">
            <a href="/accounts/1/">Котляр Андрей Викторович</a>
            <p>Учитель математики и информатики</p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/22/">Цесаренко Людмила Евгеньевна</a>
            <p>Учитель физики</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей истории и обществознания</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/13.jpg">
            <a href="/accounts/3/">Баронова Ольга Ивановна</a>
            <p>Учитель истории, обществознания</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/15.jpg">
            <a href="/accounts/32/">Аединова Лира Джемалитдиновна</a>
            <p>Учитель историии</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей русского языка и литературы</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/16.jpg">
            <a href="/accounts/17/">Шемечко Анжелика Ярославовна</a>
            <p>Учитель русского языка и литературы</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/17.jpg">
            <a href="/accounts/18/">Калетник Ирина Дмитриевна</a>
            <p>Учитель русского и украинского языка и литературы</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/18.jpg">
            <a href="/accounts/20/">Чернявская Инна Александровна</a>
            <p>Учитель русского языка и литературы</p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/103.jpg">
            <a href="/accounts/23/">Паньшина Ирина Ивановна</a>
            <p>Учитель русского языка и литературы</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей иностранных языков</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/DSC4559.jpeg">
            <a href="/accounts/36/">Якубова Диляра Энверовна</a>
            <p>Учитель английского языка</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/19.jpg">
            <a href="/accounts/12/">Митрофанова Светлана Алексеевна</a>
            <p>Учитель английского языка</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/20.jpg">
            <a href="/accounts/19/">Мамутова Алие Абдукадыровна</a>
            <p>Учитель крымскотатарского языка и литературы</p>
        </div>
    </div><br>
    <div class="row">
          <div class="col-md-4 marg_center">
              <img src="/static/img/no_photo.jpg">
              <a href="/accounts/42/">Хлюбко Елена Александровна</a>
              <p>Учитель английского языка</p>
          </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей биологии, географии и химии</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/33/">Колченко Юлия Сергеевна</a>
            <p>Учитель химии</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/22.jpg">
            <a href="/accounts/15/">Миронова Ирина Альбертовна</a>
            <p>Учитель географии и МХК</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/39/">Белая Валерия Романовна</a>
            <p>Учитель биологии и ОБЖ</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей начальных классов</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/26/">Плотникова Вера Михайловна</a>
            <p>Учитель начальных классов</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/9.jpg">
            <a href="/accounts/5/">Умерова Луиза Нуриевна</a>
            <p>Воспитатель группы продленного дня</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/8/">Грибова Светлана Тимофеевна</a>
            <p>Учитель начальных классов</p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/28/">Косилова Елена Александровна</a>
            <p>Учитель начальных классов</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/10.jpg">
            <a href="/accounts/29/">Кремнева Светлана Васильевна</a>
            <p>Учитель начальных классов</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/11.jpg">
            <a href="/accounts/13/">Асаулова Дарья Андреевна</a>
            <p>Учитель начальных классов</p>
        </div>
    </div><hr>

    <h3 class="text-center">Методическое объединение учителей физической культуры, технологии и ОБЖ</h3><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/26.jpg">
            <a href="/accounts/38/">Сайдаков Олег Викторович</a>
            <p>Учитель физической культуры</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/23.jpg">
            <a href="/accounts/6/">Кадыров Дилявер Серверович</a>
            <p>Учитель технологии</p>
        </div>
        <div class="col-md-4 marg_center">
            <img src="/media/uploads/TeacherPhoto/24.jpg">
            <a href="/accounts/11/">Зиновьев Леонид Георгиевич</a>
            <p>Учитель ОБЖ</p>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/30/">Рыбакина Людмила Ивановна</a>
            <p>Учитель технологии</p>
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-4 marg_center">
            <img src="/static/img/no_photo.jpg">
            <a href="/accounts/10/">Беляева Елена Владимировна</a>
            <p>Педагог-организатор</p>
        </div>
    </div><hr>
    <p>В образовательной организации нет педагогических работников, имеющих ученую степень/ученое звание</p>
{#    {% for teacher in teachers %}#}
{#        <div class="row">#}
{#            <div class="col-md-3">#}
{#                <img src="{% if teacher.photo %}/media/{{ teacher.photo }}{% else %}/static/img/no_photo.jpg{% endif %}" class="marg_center" style="max-height: 100px">#}
{#            </div>#}
{#            <div class="col-md-9">#}
{#                <p><a href="{% url 'accounts:profile' teacher.pk %}">{{ teacher.get_full_name }}</a></p>#}
{#                <p>{{ teacher.post|capfirst }}</p>#}
{#                <p>Категория: {{ teacher.get_rank_display }}</p>#}
{#            </div>#}
{#        </div><hr>#}
{#    {% endfor %}#}
{% endblock %}
